@import 'mapbox-gl/dist/mapbox-gl.css';

.map-container {
  position: absolute;
  height: 40rem;
  width: 40rem;
}


.addDistress{
  position: absolute;
  left: 50rem;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  padding: 6px;
  font-weight: bold;
}


